<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TripMemories needs access to your photos to organize them into beautiful trip albums.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TripMemories needs access to your photo library to organize your travel memories.</string>
</dict>
</plist>
